* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;

    --bg-color: #FAFAFA;
    --primary: #F2B33D;
    --light-text: #ABABAB;
    --light-text-hover: #828282;
    --secondary: #D94A4A;
    --blue: #3BB8A9;
    --pink: #F26671;

    --nav-transition: 0.2s;
    --nav-width: 80px;
    --sidebar-width: 200px;
}

html, body {
    height: 100%;
    background-color: var(--bg-color);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

nav {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: var(--nav-width);

    transition: var(--nav-transition);
}

.nav-container {
    position: relative;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
/*     border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
/*     box-shadow: 2px 0px 10px rgba(120, 120, 120, 0.5); */
}

.logo {
    margin-top: 20px;
    height: 30px;
    width: 60px;
    margin-bottom: 30px;
    background: url('../assets/logo.png') no-repeat center center/ cover;
    
    transition: var(--nav-transition);
}

.nav-container .links {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
}

/* .link {
    transition: var(--nav-transition);
} */

.nav-container .links .nav-items {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: var(--nav-transition);
}

.nav-items .list .nav-link {
    height: 45px;
    width: 45px;
    padding: 10px 10px;
    margin: 6px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    transition: 0.2s;
}

.nav-items .list .nav-link i {
    font-size: 1rem;
}

.nav-items .list .nav-link:hover {
    background-color: white;
    color: var(--primary);
}

.profile-container {
    position: absolute;
    bottom: 20px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.profile-pic {
    background: url('../assets/scrappy.png') no-repeat center center/ cover;
    height: 45px;
    width: 45px;
    border-radius: 70px;
    border: 3px solid var(--blue);
}

.user-details {
    position: absolute;
    left: 55px;
    transition: var(--nav-transition);
}

.username {
    font-weight: 500;
    font-size: 0.8rem;
}

.gmail {
    font-size: 0.55rem;
    font-weight: 400;
}

main {
    position: fixed;
    left: calc(var(--nav-width) + var(--sidebar-width));
    width: 70%;
    height: 100%;
    padding: 20px;
}

.project-name {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 20px;
}

.project-options {
    border-bottom: 2px solid #E0E0E0;
    height: 30px;
    padding: 0px 20px;
    margin-top: 20px;
}

.project-options .options {
    height: 100%;
    display: flex;
    gap: 30px;
}

.options .details {
    list-style: none;
    height: 100%;
    display: flex;
}

.details .option-list {
    text-decoration: none;
    color: var(--light-text);
    height: 100%;
    transition: 0.25s;
}

.details .option-list:hover {
    color: var(--light-text-hover);
}

.details .option-list.active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.sort-and-filter {
    padding: 10px;
    display: flex;
    justify-content: right;
}

.sort {
    display: flex;
    align-items: center;
}

.sort p {
    color: var(--light-text)
}

.sort button, .filter button {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    gap: 5px;
    border: none;
    background-color: transparent;
}

.sort button:hover i, .filter:hover button p + i {
    transform: translateY(2px);
}

.sort button i, .filter button i {
    font-size: 0.75rem;
    transition: 0.2s;
}

.sort button:hover, .filter button:hover {
    cursor: pointer;
}

.kanban-board {
    background-color: #f2f2f2;
}

.kanban-board .kanban-container {
    height: 100%;
    display: flex;
    padding: 0px 30px;
    gap: 10px;
}

.to-do, .in-progress, .completed {
    flex: 1;
    padding: 10px;
}

.title {
    height: 40px;
    font-weight: 500;
    border-bottom: 2px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title .title-count {
    background-color: var(--primary);
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.add-task button {
    width: 100%;
    border: 1px solid #E0E0E0;
    text-align: center;
    padding: 10px;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--primary);
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.25s;
}

.add-task button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--bg-color)
}

.task {
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 16px;
    margin: 20px 0px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
}

.tag-container {
    margin-bottom: 10px;
}

#tag {
    display: inline;
    padding: 2px 10px;
    border: 1px solid var(--primary);
    border-radius: 7px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--primary);
}

.task-name {
    font-weight: 500;
    margin-bottom: 5px;
}

.description {
    font-size: 0.75rem;
    color: #4f4f4f;
}

.due-date {
    font-size: 0.7rem;
    color: #828282;
    margin-top: 15px;

}


/* Add task sidebar */
aside {
/*     transform: scale(0); */
    z-index: 4;
    position: fixed;
    right: -40%;
    bottom: 0;
    top: 0;
    padding: 40px;
    background-color: var(--bg-color);

    width: 40%;

    transition: 0.25s ease-in-out;
}

aside.active {
    right: 0;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.15);
}

#form-close-button {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--light-text-hover);
    display: flex;
    justify-content: right;
}

#form-close-button:hover {
    cursor: pointer;
    color: black;
}

.form-container {
    background-color: var(--bg-color);
}

.add-task-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.task-params {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-params .param {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-params .param label {
    color: var(--light-text-hover)
}

.task-params .param input {
    height: 30px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-text)
}

.task-params .param input:focus {
    outline: none;
}

form .submit-button input {
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
}

form .submit-button input:hover {
    cursor: pointer;
    background-color: #e89e14;
}

.overlay {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;

    transition: 0.25s ease-in-out;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
}